<!--About Content-->
<div class="container" id="mid-content">
  <div class="card mb-3" style="max-width: 1140px; padding: 20px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/assets/img/girl4.jpg"  class="card-img" alt="A workout girl">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">Welcome to the world's fastest growing functional training network. 
            The workouts will kick your butt every time, plus they can be modified for beginners and 
            those with more experience. It's for everyone and YOU love it!</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio -->
<div class="portfolio-container section-container" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-md-4 portfolio-box wow fadeInUp">
            <h3 class="contentTopic"><i class="fa fa-check-circle"></i> Useful</h3>
            <p class="center">Fitness Club is one of the most time-efficient ways of training. We aim to burn up to 750 calories per 45-minute session.</p>
            </div>
            <div class="col-md-4 portfolio-box wow fadeInDown">
            <h3 class="contentTopic"><i class="fa fa-users"></i> Team</h3>
            <p class="center">The team mentality at Fitness Club Training helps members transform their lifestyle physically and mentally while encouraging community growth and a no-ego attitude.</p>
            </div>
            <div class="col-md-4 portfolio-box wow fadeInUp">
            <h3 class="contentTopic"><i class="fa fa-lock"></i> Proven</h3>
            <p class="center">Fitness Club is specifically designed to provide a functional full-body workout while improving energy levels, metabolic rate, strength, and endurance.</p>
            </div>
      </div>
  </div>
</div>
