/***** Main Content *****/
#topic1 {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    color: darkslateblue;
}

#topic2 {
    text-align: center;
    margin-top: -4px;
    color: peru;
    font-weight: bold;
}

table {
    margin-top: 20px;
}